div{
	font-family: 'Source Sans Pro', Arial, sans-serif';
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 20px;
	
}
*{
	margin: 0 auto;
}
.fleft{
	float:left;
}
.fright{
	float: right;
}
.clearfix{
	clear:both;
	margin: 10px;
    padding: 30px;
}

.logo,.name{
	padding:10px;
}
.login{
	border: 1px solid #5C9BD1;
	background-color: #578EBE;
	position: absolute;
	top:50%;
	left:50%;
	padding: 10px;
}
label{
	color:#ffffff;
	
}
.mar10{
	margin-top:10px;
}
button , .link{
   background-color: #e7e7e7; color: black; /* Green */
    border: none;
   
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}

.ba-item{
	border:1px solid #E1E5EC;
	padding: 10px;
	margin: 10px;
	color: black;
}
.workspace{
	top:50%;
	left:30%;
	position: absolute;
}
.requriment_container,.flowchart_container{
background-color: #578EBE;	
width:80%;
}
.width20{
	width:20%;
}
.width50{
	width:50%;
}
.width10
{	width: 10%;
}
.width40{
	width: 40%;
}
.width16{
	width: 16%;
}
.error{
	color : red;
	font-size : 10px;
}
.search_container{
	padding:10%;
	float:right;
}
.container{
	margin:10px;
}
.child_container{
    border: 1px solid;
    padding: 15px;
    margin: 2%;
}
.hide{
	display:none;
}
.usecase-item{
	width: 20%;
	height: 50px;
	background-color: #4169E1;
	float:left;
	margin: 10px;
	color: #ffffff;
	cursor:pointer;
}
select{
	color:#b3b3b3 !important;
}
.pointer{
	cursor:pointer;
}

.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px;
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
  color:#2aa1c0
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #0e647d;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}

.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
.login{
	background-color:#ffffff;
	
}